body{
	padding:0px;
	margin:0px;
	background-color:#000000;
}

div.center {
	width : 990px;
	margin : 20px auto;
}

div#list-container {
	margin : 0px 0px 20px 10px;
}

div#list-container select {
	border : 1px #00ff00 solid;
	background-color : #000000;
	padding : 5px;
	font-family: Courier New;
	color: #00ff00;
	margin-right : 20px;
}

div.preview-container {
	border: 1px #00ff00 solid;
	margin : 0px 10px;
}

span.preview-title {
	position : absolute;
	font-family : Courier New;
	background-color: #00ff00;
	padding : 5px;
	font-size : 12px;
}

div.float-fix {
	clear: both;
};